<p id="notice"><%= notice %></p>

<h1>Chatrooms</h1>

<table class="chatroom-list table ">
  <thead>
    <tr scope="row">
      <td class="box"><strong>聊天室的名稱</strong></th>
      <td colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr scope="row" class="btn-list">
        <td class="box"><%= link_to chatroom.name, chatroom %></td>
        <td class="box"><%= link_to 'Edit', edit_chatroom_path(chatroom)%></td>
        <td class="box"><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class="box"><%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method:'post' %> </td>
        <td class="box"><%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method:'delete' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path %>


